<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Button</h1>
        <p class="page__desc">按钮</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="jrm-button jrm-button-one">一级常态按钮</div>
        <div class="jrm-button jrm-button-two jrm-border-all jrm-border-1px">二级常态按钮</div>
        <div class="jrm-button jrm-button-three jrm-border-all jrm-border-1px">三级常态按钮</div>
        <div class="jrm-button jrm-button-three jrm-border-all jrm-border-1px">
            <i class="xfy-button-loading"></i>
            Loading
        </div>
        <div class="jrm-button jrm-button-three jrm-disable">不可点击按钮</div>
        <div class="jrm-button jrm-button-variable jrm-color-fff jrm-bg-color-02d397">大按钮颜色可变</div>
        <div class="jrm-button jrm-button-variable jrm-disable jrm-color-fff jrm-bg-color-02d397">大按钮颜色可变</div>
        <div class="jrm-button jrm-button-variable jrm-color-fff jrm-bg-color-508cee">您收到一个红包</div>
        <div class="jrm-unfold-button"></div>
        <div class="jrm-unfold-button jrm-unfold-button-rotate"></div>

    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>


</div>
