<div class="page">
    <div class="page__hd">
        <h1 class="page__title">confirm</h1>
        <p class="page__desc">对话框</p>
    </div>
    <div class="page__bd page__bd_spacing">

        <button class="xfy-btn" data-type="confirm">confirm</button>
        <button class="xfy-btn" data-type="alert">alert</button>
        <button class="xfy-btn" data-type="vertical">vertical</button>


    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>


</div>
<script>


(function($){
    $.extend($.fn,{
        xfyConfirm:function(options){

            var defaut = {
                type:'',
                title: '',
                cancelCallback:null,
                sureCallback:null
            };
            var options = $.extend({},defaut,options);
            return $(this).each(function(){
                var htmlpage =`<div class="posi-panel">
                                        <div class="xfy-box">
                                            <div class="panel-title xfy-border-1px xfy-border-bottom">${options.title}</div>
                                            <div class="posi-panel-btn">
                                                <div class="cancel close">取消</div>
                                                <div class="confirm ">确定</div>
                                            </div>

                                        </div>
                                    </div>` ;
                $('body').append(htmlpage);

                var $posiPanel = $('.posi-panel');
                var $btn = $posiPanel.find('.posi-panel-btn');

                switch(options.type){
                    case 'confirm':
                        $btn.addClass('btn-flex');
                        $btn.find('.confirm').addClass('xfy-border-1px xfy-border-left');
                        break;
                    case 'alert':
                        $btn.find('.close').hide();
                        break;
                    case 'vertical':
                        $btn.find('.confirm').addClass('xfy-border-1px xfy-border-top');

                        break;

                }

                $posiPanel.show().addClass('panel-show');

                $posiPanel.one('click','.close',function(){
                    $posiPanel.removeClass('panel-show');
                    setTimeout(function () {
                        $posiPanel.remove();
                        options.cancelCallback && options.cancelCallback();
                    },200)
                });

                $posiPanel.one('click','.confirm',function(){
                    $posiPanel.removeClass('panel-show');

                    setTimeout(function () {
                        $posiPanel.remove();

                        options.sureCallback && options.sureCallback();

                    },200)
                });

            });
        }
    })
})(Zepto);
    $(function(){
        $('.xfy-btn').click(function(){
            var type=$(this).data('type');

            switch(type){
                case 'confirm':

                    $('body').xfyConfirm({

                    type:type,
                        title:'confirm',
                        cancelCallback:function(){
                            alert('confirm取消回调');
                        },
                        sureCallback:function(){
                            alert('confirm确定回调');
                        }
                    });
                    

                    break;
                case'alert':
                    $('body').xfyConfirm({
                        type:type,
                        title:'alert',
                        sureCallback:function(){
                            alert('alert');
                        }
                    });
                    break;
                case 'vertical':
                    $('body').xfyConfirm({
                        type:type,
                        title:'vertical',
                        cancelCallback:function(){
                            alert('vertical取消');
                        },
                        sureCallback:function(){
                            alert('vertical确定');
                        }
                    });
                    break;
            }


        });

    });
</script>