<div class="page">
    <div class="page__hd">
        <h1 class="page__title">tab</h1>
        <p class="page__desc">标签</p>
    </div>
    <div class="page__bd page__bd_spacing">

        <div class="xfy-text">一般tab样式</div>
        <section>
            <ul class="xfy-row">
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-active ">标签1</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-border-left">标签2</li>
            </ul>
            <div class="tab-contents">
                <div class="item-content" style="display: block">
                    <p>1</p>
                </div>
                <div class="item-content">
                    <p>2</p>
                </div>
            </div>

        </section>

        <div class="xfy-text">2-4tab样式</div>
        <section>
            <ul class="xfy-row">
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-active ">标签1</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签2</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签3</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签4</li>
            </ul>
            <div class="tab-contents">
                <div class="item-content" style="display: block">
                    <p> 1</p>
                </div>
                <div class="item-content">
                    <p> 2</p>
                </div>
                <div class="item-content" >
                    <p> 3</p>
                </div>
                <div class="item-content">
                    <p> 4</p>
                </div>
            </div>
        </section>

        <div class="xfy-text">5个以上tab样式</div>
        <section>
            <ul class="xfy-row xfy-row-5">
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-active ">标签1</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签2</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签3</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签4</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签4</li>

            </ul>
            <div class="tab-contents">
                <div class="item-content" style="display: block">
                    <p> 1</p>
                </div>
                <div class="item-content">
                    <p> 2</p>
                </div>
                <div class="item-content">
                    <p> 3</p>
                </div>
                <div class="item-content">
                    <p> 4</p>
                </div>
                <div class="item-content">
                    <p> 5</p>
                </div>
            </div>
        </section>

        <div class="xfy-text">特殊80tab样式</div>
        <section>
            <ul class="xfy-row xfy-row-80">
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-active ">标签1</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签2</li>
            </ul>
            <div class="tab-contents">
                <div class="item-content" style="display: block">
                    <p> 1</p>
                </div>
                <div class="item-content">
                    <p> 2</p>
                </div>

            </div>
        </section>
        <section>
            <ul class="xfy-row xfy-row-80">
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-active xfy-border-right ">标签1</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-border-right">标签2</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom ">标签3</li>
                <li class="xfy-tab xfy-border-1px xfy-border-bottom xfy-border-left">标签4</li>
            </ul>
            <div class="tab-contents">
                <div class="item-content" style="display: block">
                    <p> 1</p>
                </div>
                <div class="item-content">
                    <p> 2</p>
                </div>
                <div class="item-content" >
                    <p> 31</p>
                </div>
                <div class="item-content">
                    <p> 42</p>
                </div>
            </div>
        </section>


    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>


</div>